<div class="navbar navbar-default navbar-fixed-top">
	<div class="navbar-header">
		<ul class="nav navbar-nav">
			<li><a href="{{ url_for('index') }}" class="navbar-brand">ZAKON AKCIJE I REAKCIJE</a></li>
		</ul>
	</div>
	<div class="navbar-collapse collapse" id="navbar-main">
		{% if session.user %}
		<ul class="nav navbar-nav">
			<li><a href="{{ url_for('logout') }}">Logout</a></li>
			<li><a href="{{ url_for('recent_feed') }}" class="icon-rss"></a></li>
			<li><a href="{{ url_for('users_list') }}">Korisnici</a></li>
			<li><a href="{{ url_for('posts') }}">Epizode</a></li>
			<li><a href="{{ url_for('new_post') }}">Nova epizoda</a></li>
			<li><a href="{{ url_for('blog_settings') }}">Postavke</a></li>
		</ul>
		{% endif %}
		<form class="navbar-form navbar-right search-form" method="post" action="{{ url_for('search') }}">
            <input type="text" name="query" class="form-control col-lg-8" placeholder="Pretraga">
			<input name="_csrf_token" type="hidden" value="{{ csrf_token() }}">
		</form>
	</div>
</div>
