{%- extends 'index.html' -%}
{%- block head -%}{%- include 'head.html' -%}{%- endblock -%}
{%- block body -%}
	{%- if post -%}
		<div class="post clearfix">
			<div class="row">
				<div class="col-lg-8">
					<div class="page-header">
						<h2>{{ post['title'] | safe }}</h2>
						<p><span class="icon-time">&nbsp;</span><i>Posted on {{ post['date'] |formatdate }} by {{ post['author'] }}</i></p>
						<div class="social row-fluid">
					        <!-- AddThis Button BEGIN -->
							<div class="addthis_toolbox addthis_default_style addthis_16x16_style">
								<a class="addthis_button_twitter"></a>
								<a class="addthis_button_facebook"></a>
								<a class="addthis_button_google_plusone_share"></a>
								<a class="addthis_button_evernote"></a>
								<a class="addthis_button_pocket"></a>
							</div>
							<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=xa-526fe54e082798d3"></script>
							<!-- AddThis Button END -->
				        </div>
					</div>
					<div class="content article">
						{%- if post['episode'] -%}
						<div class="audio">
							<audio src="/uploads/{{ post['episode'] }}" controls="controls" preload="none"></audio>
						</div>
						{%- endif -%}

						{%- if post['picture'] -%}
			            <div class="col-md-5 col-md-offset-5 pull-right" style="margin-left: 10px;">
			                <div class="thumbnail">
			                	<a href="/uploads/{{ post['picture'] }}" data-lightbox="epizode">
			                    	<img width="270" src="/uploads/{{ post['picture'] }}" alt="Slika uz epizodu">
			                    </a>
			                    {%- if post['pic_desc'] -%}
			                    <div class="caption">
			                        <p class="image-caption">{{ post['pic_desc'] }}</p>
			                    </div>
			                    {%- endif -%}
			                </div>
			            </div>
			            {%- endif -%}

						{{ post['body']|markdown }}
					</div>
				</div>
			</div>
		</div>
	{%- endif -%}
	{%- include 'sidebar.html' -%}
{%- endblock -%}
